<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EntityTypeTemplate" value="Templates\EntityTypeTemplate.tst"/>
    <add key="EntityPropertyTemplate" value="Templates\FieldTemplate.tst"/>
    <add key="ImportsTemplate" value="Templates\ImportTemplate.tst"/>
    <add key="EnumTypeTemplate" value="Templates\EnumTypeTemplate.tst"/>
    <add key="EnumMemberTemplate" value="Templates\EnumMemberTemplate.tst"/>

    <add key="EntitySetServiceTemplate" value="Templates\AngularEntitySetService.tst"/>
    <!--<add key="EntitySetServiceTemplate" value="Templates\AureliaEntitySetService.tst"/>-->

    <add key="ModuleTemplate" value="Templates\AngularModuleTemplate.tst"/>
    <!--<add key="ModuleTemplate" value="Templates\AureliaModuleTemplate.tst"/>-->

    <add key="ContextTemplate" value="Templates\ContextTemplate.tst"/>
    <add key="CustomActionTemplate" value="Templates\CustomActionTemplate.tst"/>
    <add key="CustomFunctionTemplate" value="Templates\CustomFunctionTemplate.tst"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>