<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Path to the OData Metadata root -->
    <add key="metadataPath" value="http://dp-local/api/dps/$metadata"/>
    <add key="endpointName" value="DpsApi"/>
    <!-- A local folder for writing the TS files -->
    <add key="output" value=".\output"/>
    <!-- Purge output if the directory is not empty -->
    <add key="purgeOutput" value="true"/>
    <add key="EntityTypeTemplate" value="Templates\EntityTypeTemplate.tst"/>
    <add key="EntityPropertyTemplate" value="Templates\PropertyTemplate.tst"/>
    <add key="ImportsTemplate" value="Templates\ImportTemplate.tst"/>
    <add key="EnumTypeTemplate" value="Templates\EnumTypeTemplate.tst"/>
    <add key="EnumMemberTemplate" value="Templates\EnumMemberTemplate.tst"/>
    <add key="EntitySetServiceTemplate" value="Templates\EntitySetService.Angular.tst"/>
    <add key="ContextTemplate" value="Templates\ContextTemplate.tst"/>
    <add key="AngularModuleTemplate" value="Templates\AngularModuleTemplate.tst"/>
    <add key="AngularCustomActionTemplate" value="Templates\AngularCustomActionTemplate.tst"/>
    <add key="AngularCustomFunctionTemplate" value="Templates\AngularCustomFunctionTemplate.tst"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>